html,body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    font-weight:normal;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
p {padding-bottom: 5px;}
#main_login,#main_reg{
    border:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
    background-color:#636363;
}
#splash{
    margin-left:auto;
    margin-right:auto;
    width:800px;
    background-color:#636363;
    margin-top: 50px;
}
.login_info_panel{
    border:1px solid #d7d7d7;
    background-color:#f5f5f5;
    height: 200px;
    width:100%;
    height:200px;
}
#login_form{
    position:relative;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    width:450px;
    white-space:nowrap;
    font-size:17px;
    font-weight:bold;
    color:#5ec9f6;
    text-align:center;
}
#reg_new_user{
    cursor: pointer;
    font-size: 11px;
    font-weight: normal;
    left: 425px;
    position: absolute;
    text-align: left;
    top: 15px;
}
#forgot_password{
    position:absolute;
    top:47px;
    left: 425px;
    text-align:left;
    font-size:11px;
    font-weight:normal;
    cursor:pointer;
}
#remember_me{
    float:right;
    color: #5EC9F6;
    font-size: 13px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
}

#login_form span{text-align:right;clear:left;float:left;display:block;width:120px;margin:7px;}
#login_form input{font-size:17px;color:#333;padding-left:2px;width:236px;margin:7px;}

.login_b_panel{
    margin-top:1px;
    height: 200px;
    width:100%;
    border:1px solid #d7d7d7;
    background-color:#d7d7d7;
}
.login_div_submit{
    background-color:inherit;
    float:right;
    cursor:pointer;margin:15px;
}
.login_b_submit{
    width:150px;
    height:150px;
    border:0;
}

#footer{position:absolute;left:0;right:0;width:100%;background-color:#e2e2e2;height:25px;border-top:1px solid #e3e3e3;bottom:0;}

input{border:1px solid #888;font-size:13px;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* Регистрация нового пользователя */
#reg_form{
    background-color:#F5F5F5;
    margin: 10px 10px 10px 10px;
    border:1px solid #d7d7d7;
}
.reg_title{
    color: #636363;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.reg_top{
    margin-top: 10px;
    clear:both;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.reg_bot,.reg_info{
    clear:both;
    margin-top: 10px;
    text-align: center;
}
.reg_f_left{
    float:left;
}
.reg_f_right{
    float:right;
    width: 300px;
}
.reg_f_input{
    color: #757575;
    font-size: 11px;
    font-family: tahoma;
    background-repeat: repeat-x;
    width: 300px;
    height: 14px;
    border: 1px solid #8A8A8A;
}
.b_reg_check,.b_reg_send{
    font-family: tahoma;
    font-size: 11px;
    border: 1px solid #8A8A8A;
    background: none repeat scroll 0% 0% rgb(255, 255, 255); 
    color: rgb(117, 117, 117);
}
.b_reg_send{
    width: 80px;
    height: 20px;
}

.adm_msg,.adm_commands{
    margin: 10px 10px 10px 10px;
}